.btn{
    background: pink;
    width: fit-content;
    color: black;
    font-size: 2rem;
    padding: 2%;
    border-radius: 20%;
    cursor: pointer;
    user-select: none;
    transition: background 0.5s;
}
.btn.on {
  background: rgb(209, 255, 5);
}
